@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
.web_logo{
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
}
.fixedPositionInBelow {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {

    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    color: #337ab7;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 0px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.footer h4 {
    color: #337ab7;
    font-size: 2em;
    font-weight: 600;
    line-height: 38px;
    padding: 40px 0 10px;
    font-weight: lighter;
    font-family: 'Odibee Sans', cursive;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0px;
    color: #337ab7;
    padding: 0 0 8px 0;
}

.email{
    border-bottom: 3px solid #fff;
}
.footer ul li a {
    padding: 0 0 12px 0;
    display: block;
}
.footer a {
    color: #337ab7;
    font-weight: lighter;
}

.footer p {
    color: #337ab7;
    font-weight: lighter;

}

.footer a:hover {
    text-decoration:none;
    font-weight: bold;
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {

    box-shadow: 0 1px 0 #B4B3B3;
}


.footer a {
    color: #78828D
}

.footer-bottom {
    margin-top: 2em;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
    font-size: 0.75em
}
body {
    background-color:  #eee;
}
.title {

    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;

}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
    margin-top: auto;
}
.card-title{
    font-weight: bold;
}
.avatar{
    height: 100px;
    width: 100px;
    margin-top: 100px;
}
.groupForm{
    margin-bottom: 5px;
}
.srcBut{
    text-align: center;
    display: block;
    margin: 0 auto;

}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

